* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

/* icone esterne nav */
.reel-header {
	position: absolute;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	.nav_icon {
		display: flex;
		justify-content: space-between;

		.btn_nav {
		    background-color: transparent;
		    border: none;
		    color: #fff;
		    font-size: 1.5rem;
		    padding: 1rem;
	   }

	}
}
/* icone interne nav */
.central {
	display: flex;

	.central_icon {
		font-size: 1rem;
		margin-left: 4px;
		margin-right: 4px;
		background-color: transparent;
		border: none;

	}
    
	/* differenziamo le icone centrali (esplora, seguiti, per te)
	 con tre id (#icon_x), per poterle modificare singolarmente */

    /* esplora */
	#icon_1 {
		color: #ffffff61;
	}
	/* seguiti */
	#icon_2 {
		color: #ffffff61;
		position: relative;

		.circle {
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background-color: #ff000061;
			position: absolute;
			top: 1rem;
			right: 0;
			translate: 70%;

		}
	}
	/* per te */
	#icon_3 {
		color: #fff;
		border-bottom: #fff solid;
	}
}


/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	.description {
		padding-left: 1rem;

		.username {
			font-size: 1rem;
			padding-bottom: 5px;
			
		}

		p {
			width: 340px;
		}

		.btn_p {
			background-color: transparent;
			color: #fff;
			border: none;
		}
	}
	
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	.side_icon {
		display: flex;
		flex-direction: column;
		

		.btn_side {
			background-color: transparent;
			color: #fff;
			border: none;
			font-size: 2rem;
			margin-bottom: 1.25rem;

			.stats_icon {
				font-size: 14px;
			}
		}

		.btn_side_profile {
			margin-bottom: 1.25rem;
			position: relative;


			.circle_plus {
				position: absolute;
				bottom: 0;
				left: 45%;
				translate: -40% 60%; 
				font-size: 1.5rem;
				color: red;
				
				
			}
		}
	}
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
